# testando detecção das linguagens usadas no projeto

*.html linguist-detectable
*.md linguist-language=HTML
*.js linguist-detectable
*.css linguist-detectable

#special-vendored-path/* linguist-vendored

docs/app.js -linguist-detectable
