:root {
    --lightblue: lightblue;
    --white: white;
    --black: black;
}

* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--background);
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: square;
}

.list {
    list-style: square;
}

.light-theme {
    --background: var(--lightblue);
    --fontColor: var(--black);
    --buttonBackground: var(--black);
    --buttonFontColor: var(--white);
}

.dark-theme {
    --background: var(--black);
    --fontColor: var(--lightblue);
    --buttonBackground: var(--white);
    --buttonFontColor: var(--black);
}

.button:focus {
    outline-style: none;
    position: fixed;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--buttonFontColor);
    background-color: var(--buttonBackground);
}